<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI16_可视化编程_StoryBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49B6FAB01C3A48B9008F0830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B6FAC91C3A48B9008F0830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B6FAD41C3A48B9008F0830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
