<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI13_TableView自适应高度.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49A96EAD1C32211400478DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A96EC61C32211500478DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A96ED11C32211500478DC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
