<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIxml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49E7EB551C3B72A800B008AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E7EB6E1C3B72A900B008AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E7EB791C3B72AA00B008AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
