<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_抓包.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4952A4B21C3E61320024DF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4952A4CB1C3E61320024DF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4952A4D61C3E61320024DF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
